{% extends 'hearderfooter.html' %}
{% block content %}
	<!-- //navigation -->
	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="/">Home</a>
						<i>|</i>
					</li>
					<li>Bakery</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->
	<!-- FAQ-help-page -->
	<div class="faqs-w3l">
		<div class="container">
			<!-- tittle heading -->
			<h3 class="tittle-w3l">Bakery
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
			<!-- //tittle heading -->
			<h3 class="w3-head">Top 10 Popular Sweets In India</h3>
			<div class="faq-w3agile">
				<ul class="faq">
					<li class="item1">
						<a href="#" title="click here">Rasgulla</a>
						<ul>
							<li class="subitem1">
								<p> They are the dumplings of Cottage cheese and semolina dough. Light syrup of sugar is prepared for cooking them. The dish originated in West Bengal. It is also known as ‘Bangla Rasogolla.’ These spongy soft round balls are completely immersed in sugar syrup. One cannot easily decline to eat Rasgulla. It is the iconic sweet of West Bengal.</p>
							</li>
						</ul>
					</li>
					<li class="item2">
						<a href="#" title="click here">Rabri</a>
						<ul>
							<li class="subitem1">
								<p> The city of Banaras is known for the famous sweet dish Rabri. It is prepared by heating the sweetened milk in a very big kadhai. It consists of dry fruits & kesar. It’s a delicious experience to enjoy a plate full of Rabri sitting on the ghats of Ganges.</p>
							</li>
						</ul>
					</li>
					<li class="item3">
						<a href="#" title="click here">Kaju Katli</a>
						<ul>
							<li class="subitem1">
								<p>A Marwari sweet which is famous in all over India is Kaju Katli. It can be found most of the times on auspicious occasions such as Pooja, Festivals like Diwali, & Marriages. Cashew nut is the main ingredient of these sweets. They are the diamond in shape with the filling of cashew nuts & sugar. No doubt that it comes at the top & main priority for many people.</p>
							</li>
						</ul>
					</li>
					<li class="item4">
						<a href="#" title="click here">Ladoo</a>
						<ul>
							<li class="subitem1">
								<p>Ladoos are round sweet balls which are rolled by hands. The motichur ladoos are most popular and are the best-known variety of ladoos. This motichur ladoo has a bright orange color, and most of the time they are in high demand during the ten days celebration of Ganpati. Other varieties of ladoos are baisen ke ladoo, atta, sattu ke ladoo etc.</p>
							</li>
						</ul>
					</li>
					<li class="item5">
						<a href="#" title="click here">Mysore Pak</a>
						<ul>
							<li class="subitem1">
								<p>As the name of this sweet suggest, it comes from the city of Mysore. It is slightly brown & yellow in color & is completely immersed in ghee. This Pak is flavored with spice essence such as cardamom, honey, Rose, etc.</p>
							</li>
						</ul>
					</li>
					<li class="item6">
						<a href="#" title="click here">Modak</a>
						<ul>
							<li class="subitem1">
								<p>Another famous sweet from Maharashtra is Modak. Lord Ganesha’s favorite is Modak. Therefore,’ it enjoys’ has a special status in Marathi people. It is served to Lord Ganesha during his birthday celebration of ten days.</p>
							</li>
						</ul>
					</li>
					<li class="item7">
						<a href="#" title="click here">Halwa</a>
						<ul>
							<li class="subitem1">
								<p>It is one of the most quickly prepared sweet dish in the country. The term Halwa covers a vast variety of sweets. The most common thing in making it is that all the ingredients are boiled in milk or water. The most popular type of the sweet & which is loved by most of the Indians is Gajar Ka Halwa.</p>
							</li>
						</ul>
					</li>
					<li class="item8">
						<a href="#" title="click here">Soan Papdi</a>
						<ul>
							<li class="subitem1">
								<p>If we talk about food and the name of Gujarat is not mention in the list, it is impossible. Soan Papdi is the sweet that arise from Gujarat. This blistering sweet is for the people who take less sugar in their diet.</p>
							</li>
						</ul>
					</li>
					<li class="item9">
						<a href="#" title="click here">Gulab Jamun</a>
						<ul>
							<li class="subitem1">
								<p>These are the soft balls made up of khoya which are deep fried. They are immersed in the sugary syrup afterward. As the name is Gulab Jamun it has nothing to do with the roses. This Sweet is present in almost 90% of the weddings. Gulab Jamun is the people’s favorite choice to keep in their marriage parties.</p>
							</li>
						</ul>
					</li>
					<li class="item10">
						<a href="#" title="click here">Jalebi</a>
						<ul>
							<li class="subitem1">
								<p>The main ingredients of Jalebi are Channa, Urad Dal, & sugar syrup. These Jalebis are handmade criss-cross web of lines. This is then deep-fried & immersed in the syrup. This sweet dish is served with Rabdi most of the times or curd can also be used sometimes.</p>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //FAQ-help-page -->
{% endblock %}	