{% extends 'hearderfooter.html' %}
{% block content %}
				<section id="main-content">
					<section class="wrapper"> >
						<div class="container" >
							<form action="/payment/" method="post" class="creditly-card-form agileinfo_form">
								{% csrf_token %}
								<div class="creditly-wrapper wthree, w3_agileits_wrapper">
									<div class="credit-card-wrapper">
										<div class="first-row form-group">
											<div class="controls">
												<label class="control-label">Name on Card</label>
												<input class="billing-address-name form-control" type="text" name="name" placeholder="John Smith">
											</div>
											<div class="w3_agileits_card_number_grids">
												<div class="w3_agileits_card_number_grid_left">
													<div class="controls">
														<label class="control-label">Card Number</label>
														<input class="number credit-card-number form-control" type="text" name="number" inputmode="numeric" autocomplete="cc-number"
														    autocompletetype="cc-number" x-autocompletetype="cc-number" placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;">
													</div>
												</div>
												<div class="w3_agileits_card_number_grid_right">
													<div class="controls">
														<label class="control-label">CVV</label>
														<input class="security-code form-control" Â· inputmode="numeric" type="text" name="security-code" placeholder="&#149;&#149;&#149;">
													</div>
												</div>
												<div class="clear"> </div>
											</div>
											<div class="controls">
												<label class="control-label">Expiration Date</label>
												<input class="expiration-month-and-year form-control" type="text" name="expiration-month-and-year" placeholder="MM / YY">
											</div>

											<div class="controls">
												<label class="control-label">Total Amount</label>
												<input class="security-code form-control" type="text" name="total" value="{{total}}" placeholder="Total Amount" readonly="">
											</div>

											</div>
											<div style=" margin-bottom: 150px;">
												<div>
													<button  type="submit" style="float:left; margin-left: 50px" class="btn btn-info">
													<span>Make a payment </span>
													</button>
												</div>
											</div>
									</div>
								</div>		
							</form>
						</div>
					</section>
				</section>
						
						
							

	<!-- newsletter -->
	{% endblock %}
	